fastapi==0.111.0
uvicorn[standard]==0.23.2
aiogram==3.0.0b7
SQLAlchemy==1.4.48
alembic==1.11.1
psycopg2-binary==2.9.6
httpx==0.24.1
stripe==10.11.0
python-dotenv==1.0.0
APScheduler==3.10.1
requests==2.32.0
